*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body{
  background: #121212;
  width: 100%;
  height: auto;
  padding: 16px;
  padding-top: 64px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #fff;
  gap: 16px;
  font-size: 16px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

canvas {
  outline: 1px solid #212121;
  box-shadow: 12px 24px 48px rgba(0, 0, 0, 0.3);
  image-rendering: pixelated;
  image-rendering: crisp-edges;
  image-rendering: -moz-crisp-edges;
  width: min(400px, calc(100vw - 32px));
  height: min(400px, calc(100vh - 32px));
  min-width: 320px;
  min-height: 320px;
}

table{
  min-width: 320px;
  border-collapse: collapse;
  table-layout: fixed;
  height: fit-content;
  border: 1px solid #323232
}

table caption{
  font-size: 24px;
  margin-bottom: 24px;
}

th,tr,td,tbody,thead{
  height: fit-content;
}

th,td{
  padding: 12px;
  text-align: center;

}
tr{
  width: 100%;
}

td{
  border-bottom: 1px solid #323232;
  width: 50%;
  white-space: nowrap;
  overflow: hidden !important;
  text-overflow: ellipsis;
  max-width: 180px;
}